@use "./variables.scss" as *;
@use "./syncer";

// put your custom CSS here!
:root[saved-theme="dark"]:root, :root[saved-theme="dark"], :root[saved-theme="light"], :root[saved-theme="light"] {
    --font: "Rubik", "its-Draconis", "Draconis", Inter;
    --font-monospace: "IBM Plex Mono", "its-Fira Code", "Fira Code", Inter;
    --font-default: "Rubik", "its-Bookerly", "Bookerly", Inter;
    --font-text: var(--font-default);
}
a.tag-link {
    width: fit-content;
    display: inline-block;
    border-radius: 6px;
    font-weight: bold;
}